<section class="hero is-medium">
    <div class="hero-body hero-back">
      <div class="container has-text-centered">
        <h1 class="title has-text-white-ter">
          Who 
        </h1>
        <h2 class="subtitle has-text-white-ter">
            I am
        </h2>
      </div>
    </div>
  </section>


  <section class="section">
    <div class="container">
      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile ">
            <div class="tile is-parent ">
              <div class="tile is-child  box card-back-jesus ">
                <div class="container center-text-vertical">
                <!-- <div class="columns">
                    <div class="column  center-text-vertical"> -->
                      <p class="title has-text-centered has-text-white-ter ">Jesus</p>
                      <br>
                      <p class="has-text-centered subtitle is-5 has-text-white-ter">
                        Since I was a child the mystery about computers engage me.
                        Growing up with a Pentium 4 and a slow internet connection I discovered
                        the magic of machines. 
                      </p>
                      <p>
                        <i>Nowadays, I am still in the path of understand it.</i>
                      </p>
                      <br>
                      <br>
                          
                    <!-- </div>        
                  </div> -->
                </div>
              </div>
            </div>
                  
            
            <div class="tile is-parent">   
              <div class="tile is-child box ">
                <div class="columns is-multiline" >
                  <div class="column center-text-vertical">
                    <p class="title has-text-centered ">Calisthenics</p>
                    <br>
                    <p class="has-text-centered subtitle is-5">
                      Trying to improve myself I found this sport, all you need its disclipline and cofidence in yourself.                        
                    </p>
                    <p>
                      No machines, no places, no frontiers.
                    </p>
                    <br>
                    
                    
                    <div class="card-image">
                      <br>
                      <figure class="image is-4by3">
                        <img src="assets/img/hs.jpg" alt="Placeholder image">
                      </figure>
                    </div>
                    
                    
                  </div>        
                </div>
              </div>
            </div>  
          </div>                
          
          <div class="tile is-parent">    
            <div class="tile is-child box card-back-ipn">

              <div class="columns">
                <div class="column">
                  <figure class="image">
                    <img src="assets/img/logo-ipn_white.png" alt="Placeholder image">
                  </figure>
                
                </div>
                <div class="column center-text-vertical">
                  <div class="container has-text-centered ">
                    <p class="title  has-text-white-ter">Jesus Albino</p>
                      <p class="subtitle has-text-white-ter">Mechatronic engineer from IPN Mexico. </p>

                  </div>                  
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer>

  </app-footer>