<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Jesus Portfolio</strong> by Jesus Albino. The source code you can find in
            <a href="https://github.com/jjesus109/personalWebApp">Github</a>
        </p>
        <p>
        The website content is only info purpose. 
        </p>
        <p>
        If you think I could have negative content, please contact me ;).
        </p>
        <p>
            2020
        </p>
    </div>
  </footer>