<nav class="navbar is-link is-fixed-top">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item">
        
      </a>
      <a class="navbar-burger burger" [ngClass] = "{'is-active' : navClick}"
      (click)="tocarNavbar()" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu" (click)="tocarNavbar()" 
    [ngClass] = "{'is-active' : navClick}">
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['/']">
          Home
        </a>
        <a class="navbar-item" [routerLink]="['/see-it']">
          See-it
        </a>
        <a class="navbar-item" [routerLink]="['/about-me']">
          A little about me
        </a>

      </div>
    </div>
  </div>
</nav>