<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-5 is-vertical is-parent">
                <div class="tile is-child box">
                    
                    <div class="columns" [routerLink]="['/about-me']"> 
                        <div class="column center-text-vertical"> 
                            <figure class="image is-4by3">
                                <img src="assets/img/how-could-I-do-it.jpg" alt="how-could-I-do-it">
                            </figure>
                            <div class="container has-text-centered">
                                
                                <br>
                                <button class="button is-link is-inverted">Know more</button>
                            </div>
                        </div>
                        <div class="column center-text-vertical"> 
                            
                            <p class="title has-text-centered">How could I do it?</p>
                            <p class="has-text-centered">
                                With a few things in mind, a powerful determination and consistency, 
                                we could create every single word that we speak. </p>
                                
                        </div>
                    </div>

                </div>
                <div class="tile is-child box">
                    
                        <div class="columns is-multiline" [routerLink]="['/about-me']"> 
                            <div class="column center-text-vertical"> 
                                <p class="title has-text-centered">Who I am</p>
                                <p class="has-text-centered">
                                    Mechatronic, developer, curious about improving 
                                    the way things could (or not) happen.</p>
                                    
                            </div>
                            <div class="column center-text-vertical"> 
                                
                                <figure class="image is-4by3">
                                    <img src="assets/img/about-me.jpg" alt="Placeholder image">
                                </figure>
                                <div class="container has-text-centered">
                                
                                    <br>
                                    <button class="button is-info is-inverted">Know more</button>
                                </div>
                            </div>    
                        </div>
                        <div class="container has-text-centered">
                            
                        </div>
                    
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child box card-back">
                    <div class="columns is-multiline" >
                        <div class="column center-text-vertical">
                            <p class="title has-text-centered has-text-white-ter ">See it !</p>
                            <p class="has-text-centered ">An image, video or feeling could explain more than a bunch of words. Let's explore all the fields I'm related to and a bit of them, <i>Machine Learning</i>, <i>Computer Vision</i> and all the stuff in <i>Cloud</i>.</p>
                            <br>
                            <br>
                                <button class="button is-info is-light" [routerLink]="['/see-it']">Explore more</button>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>